doctype html
html( ng-app="TMApp" lang="en" class="no-js" )
  head
    meta(charset="utf-8")
    meta( name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    block scripts
      script(src='/javascripts/modernizr.js')
      script(src='/javascripts/angular.js')
      script(src='/javascripts/angular-route.js')
      script(src='/javascripts/angular-resource.js')
      script(src='/javascripts/jquery.js')
      script(src='/javascripts/foundation.js')
      script(src='/javascripts/client.js')
      script(src='/javascripts/tm-service.js')
      script(src='/javascripts/tm-ctrl.js')

    block stylesheets
      link(rel='stylesheet', href='/stylesheets/normalize.css')
      link(rel='stylesheet', href='/stylesheets/foundation.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

    base(href="/#/")
  body
    include navigation

    block content
    script
      $(document).foundation();
