doctype html
html( ng-app="TMApp" lang="en")
  head
    title= title
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/tm-service.js')
    script(src='/javascripts/tm-ctrl.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href="/#/")
  body
    block content
