doctype html
html( ng-app="TMApp" lang="en" class="no-js" )
  head
    meta(charset="utf-8")
    meta( name="viewport", content="width=device-width, initial-scale=1.0")
    title(ng-bind="title")

    block scripts
      script(src='/javascripts/modernizr.js')
      script(src='/javascripts/angular.js')
      script(src='/javascripts/angular-route.js')
      script(src='/javascripts/angular-resource.js')
      script(src='/javascripts/stripe-angular.js')
      script(src='/javascripts/jquery.js')
      script(src='/javascripts/foundation.js')
      script(src='/javascripts/foundation.alert.js')
      script(src='/javascripts/angular-messages.js')
      script(src='/javascripts/card.js')
      script(src='/javascripts/client.js')
      script(src='/javascripts/tm-service.js')
      script(src='/javascripts/tm-ctrl.js')
      script(src='/javascripts/tm-filters.js')

      script(src='https://js.stripe.com/v2/')

    block stylesheets
      link(rel='stylesheet', href='/stylesheets/normalize.css')
      link(rel='stylesheet', href='/stylesheets/foundation.css')
      link(rel='stylesheet', href='/stylesheets/default.css')
      link(rel='stylesheet', href='/stylesheets/default.date.css')
      link(rel='stylesheet', href='/stylesheets/default.time.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

    base(href="/#/")
  body
    include navigation

    div(class="wrapper")
      block content
    script.
      jQuery(document).foundation();
