extends layout

block content
  h1= title
  div
    form(method="POST", action="/login")
      input(type="text", name="username")
      input(type="password", name="password")
      input(type="submit", value="login" class="button")
  div(class="view-continer")
    div(ng-view, class="view-frame")
