div(class="top-bar-wrapper")
  nav( class="top-bar", data-topbar, role="navigation" ng-controller="TMCtrlNav")
    ul( class="title-area")
      li( class="name")
        h1
          a(href="/") TutorManager
      li( class="toggle-topbar menu-icon" )
        a( href="#" )
          span Menu
    section( class="top-bar-section" )
      ul(ng-show="isLoggedIn()")
        li
          a( href='/lessons' ng-bind="getUserName()") ...
        li
          a( href='/logout') logout
      ul(ng-hide="isLoggedIn()")
        li
          a( href='/login' class='button') Login
      ul( class="right" ng-show="isLoggedIn()")
        li()
          a( href="/payments") Payments
        li
          a( href="/lessons") Lessons
