nav( class="top-bar", data-topbar, role="navigation")
  ul( class="title-area")
    li( class="name")
      h1
        a(href="/") TutorManager
  section( class="top-bar-section" )
    ul
      if user != undefined
        li
          a( href='/lessons') #{user.name}
        li
          a( href='/logout') logout
      else
        li
          a( href='/login' class='button' target="_self") Login
    ul( class="right" )
      li()
        a( href="/payments") Payments
      li
        a( href="/lessons") Lessons
