nav( class="top-bar", data-topbar, role="navigation")
  ul( class="title-area")
    li( class="name")
      h1
        a(href="/") TutorManager
  section( class="top-bar-section" )
    ul
      li
        if user != undefined
          a( href='/lessons') #{user.name}
        else
          a( href='/login' class='button') Login
    ul( class="right" )
      li()
        a( href="/payments") Payments
      li
        a( href="/lessons") Lessons
