body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.payment .status {
  float: right; }

.payment .paid h2 {
  color: green; }

.payment .unpaid h2 {
  color: red; }

.payment-index td {
  white-space: nowrap; }

.transaction {
  width: 75%;
  margin: auto;
  padding: 1em;
  border: 1px inset #666;
  background-color: #ccc; }
  .transaction
.ssl-secure {
    text-align: right;
    font-weight: bold; }
  .transaction
.date-container {
    width: 50%; }
    .transaction
.date-container
.field {
      width: 45%;
      float: left;
      margin-right: 1%; }
  .transaction
.cvv-container {
    width: 25%;
    float: right; }
  .transaction
.submit-button {
    clear: both; }
