body {
  //padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.payment {
  .status {
    float: right;
  }
  .paid h2 {
    color: green;
  }
  .unpaid h2 {
    color: red;
  }
}

.payment-index {
  td {
     white-space: nowrap;
  }
}

.transaction
{
  width: 75%;
  margin: auto;
  padding: 1em;
  border: 1px inset #666;
  background-color: #ccc;

  .ssl-secure
  {
    text-align: right;
    font-weight: bold;
  }
  .date-container
  {
    width: 50%;

    .field
    {
      width: 45%;
      float: left;
      margin-right: 1%;
    }
  }

  .cvv-container
  {
    width: 25%;
    float: right;
  }

  .submit-button
  {
    clear: both;
  }
}
