<div>

  <form ng-submit="saveLesson()" name="lessonForm">
    <div>
      <div id="lesson-tutor">Tutor: <span ng-bind="username"></span></div>
    </div>
    <div>
      <label for="lesson-student">Student:</label>
      <select name="lesson-student" id="lesson-student" ng-model="TMLesson.student" ng-options="obj.id as obj.name for obj in TMLesson.students"></select>
    </div>
    <div>
      <label for="inputDate">Start Date:</label>
      <input type="date" ng-model="inputDate" name="inputDate" id="inputDate" required />
    </div>
    <div>
      <label for="inputDateTime">Start Time:</label>
      <span><input type="time" ng-model="inputDateTime" id="inputDateTime" required /></span>
    </div>

    <div>
      <label for="inputDateEnd">End Date:</label>
      <span><input type="date" ng-model="inputDateEnd" name="inputDateEnd" id="inputDateEnd" required /></span>
      <label for="inputDateTimeEnd">End Time:</label>
      <input type="time" ng-model="inputDateTimeEnd" name="inputDateTimeEnd" id="inputDateTimeEnd" required />
    </div>
    <div ng-messages="lessonForm.inputDateEnd.$error" role="alert">
      <div ng-message="required">You did not enter a field</div>
      <div ng-message="minlength">Your field is too short</div>
      <div ng-message="maxlength">Your field is too long</div>
    </div>

    <input type="submit" name="submit" value="Save" class="button"/>
  </form>
</div>
