<h1>Lesson {{lesson.id}}</h1>
<h2>Tutor: {{lesson.tutor_name}}</h2>
<h2>Student: {{lesson.student_name}}</h2>
<p>TODO: add lesson desc</p>
<h2>Lesson Date</h2>
<table>
  <thead>
    <tr>
      <td>
        Start
      </td>
      <td>
        Finish
      </td>
      <td>
        Duration
      </td>
      <td>
        Status
      </td>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{lesson.lesson_date}}
      </td>
      <td>
        {{lesson.lesson_date_end}}
      </td>
      <td>
        {{lesson.duration}}
      </td>
      <td>
        {{lesson.lesson_status}} <button ng-click="cancel()" class="button" ng-show="canCancel">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>
</p>
<h2>Payment Information</h2>
<table class="payment-index">
  <thead>
    <tr>
      <td>ID</td>
      <td>Amount</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="payment in lesson.payments">
      <td><a href="/payments/{{payment.id}}/view">{{payment.id}}</a></td>
      <td>{{payment.amount}}</td>
      <td class="{{payment.status}}">{{payment.status}} <span ng-if="payment.status=='unpaid'"><a href="/payments/{{payment.id}}/view" class="button">Pay</a></span></td>
    </tr>
  </tbody>
</table>
